In [9]:
import numpy as np
students = np.array([
    [67, 94, 65],
    [78, 92, 68],
    [59, 92, 87]
    ])
students

array([[67, 94, 65],
       [78, 92, 68],
       [59, 92, 87]])

In [5]:
import pandas as pd

pd.DataFrame(data=students,
             index=['stu1','stu2','stu3'],
             columns=['國文','英文','數學']
             )

      國文  英文  數學
stu1  67  94  65
stu2  78  92  68
stu3  59  92  87

In [15]:
import random

def get_names(nums:int=10)->list[str]:
    with open("names.txt", encoding="utf-8") as file:
        content = file.read()
        #print(content)
        names = content.split("\n")
        random_names = random.sample(names, nums)
        print(random_names)


get_names(5)

['趙家豪', '孫火清', '李政成', '林群清', '林思賢']

In [14]:
import numpy as np

student_nums = 5
data = np.random.randint(50,high=101,size=(student_nums, 5))
students = pd.DataFrame(data,
             columns=['國文','英文','數學','地理','探討'])
students

   國文  英文  數學  地理  探討
0  81  98  53  60  82
1  78  75  86  84  96
2  59  79  99  57  59
3  79  71  74  67  75
4  88  68  75  63  62