In [9]:
import numpy as np
students = np.array([
    [67, 94, 65],
    [78, 92, 68],
    [59, 92, 87]
    ])
students

array([[67, 94, 65],
       [78, 92, 68],
       [59, 92, 87]])

In [5]:
import pandas as pd

pd.DataFrame(data=students,
             index=['stu1','stu2','stu3'],
             columns=['國文','英文','數學']
             )

      國文  英文  數學
stu1  67  94  65
stu2  78  92  68
stu3  59  92  87

In [32]:
import random

def get_names(nums:int=10)->list[str]:
    with open("names.txt", encoding="utf-8") as file:
        content = file.read()
        #print(content)
        names = content.split("\n")
        random_names = random.sample(names, nums)
        #print(random_names)
    
    return random_names


get_names(5)

['黃婷婷', '彭偉妃', '錢佩豪', '黃翔杰', '沈心利']

In [33]:
import numpy as np

student_nums = 5
data = np.random.randint(50,high=101,size=(student_nums, 5))
students = pd.DataFrame(data, 
            columns=['國文','英文','數學','地理','探討'], 
            index=get_names(student_nums))
students

     國文  英文  數學  地理  探討
鄧哲榮  52  88  82  81  53
李湘婷  64  84  72  90  65
王明昇  88  96  62  99  99
白美珍  77  70  52  97  88
鄧亭聿  95  90  88  86  86

In [34]:
students.to_csv("student.csv")
print("csv存檔成功")

csv存檔成功

In [37]:
import openpyxl
students.to_excel("student.xlsx")
print("xlsx存檔成功")

xlsx存檔成功