In [1]:
import numpy as np
students = np.array([
    [67, 94, 65],
    [78, 92, 68],
    [59, 92, 87]
    ])
students

array([[67, 94, 65],
       [78, 92, 68],
       [59, 92, 87]])

In [3]:
import pandas as pd

pd.DataFrame(data=students,
             index=['stu1','stu2','stu3'],
             columns=['國文','英文','數學']
             )

      國文  英文  數學
stu1  67  94  65
stu2  78  92  68
stu3  59  92  87

In [4]:
data = np.random.randint(50,high=101,size=(50, 5))
students = pd.DataFrame(data,
             columns=['國文','英文','數學','地理','探討'])
students

     國文   英文   數學  地理  探討
0    90   66   82  55  88
1    87   81   69  75  87
2    77   54   62  79  76
3    74   87   50  62  72
4    92   98   55  88  98
5    88   96   97  55  96
6    65   94   69  91  88
7    67   60   54  72  98
8    65   50   81  75  90
9    69   53   67  81  99
10   70   74   74  69  69
11   97   85   59  86  83
12   85   57   96  99  78
13   57   77   67  73  79
14   83   88   91  96  63
15  100   61   88  56  56
16   86   51   56  97  64
17   76   96   65  89  57
18   60   83   80  76  66
19   72   82   70  85  65
20   57   56   76  94  92
21   90   91   57  82  91
22   71   85   61  70  62
23   64   88   72  97  78
24   52   89   70  72  66
25   69   74   98  66  98
26   73   81   52  69  65
27   97   88   70  97  99
28   52   93   50  92  76
29   64   73   90  58  52
30   61   76   95  63  61
31   62   75   90  87  58
32   87   65   63  61  64
33   54   52   56  64  73
34   84   94   76  53  51
35   72   81   94  64  56
36   61  100   65  70  94
37   59   89   74  71  85
38   72   71   55  68  68
39   71   61   79  62  57
40   52   85   72  72  86
41   66   70   72  88  80
42   53   97   65  95  73
43   93   70   89  57  84
44   58   56   61  89  72
45   57   77  100  62  54
46   70   82   60  76  79
47   60   71   99  84  72
48   82   50   84  56  53
49   52   94   78  85  54