In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame({"key1":["a", "a", "b", "b", "a"],
                   "key2":["one", "two", "one", "two", "one"],
                   "data1":np.random.randn(5),
                   "data2":np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one -1.202597  0.213570
1    a  two  0.701862 -0.531390
2    b  one  0.128083 -2.113398
3    b  two  0.026387  0.628990
4    a  one -0.184180 -1.174783

In [ ]:
# Series 的 Groupby
grouped = df["data1"], groupby(["台北", "台北", "台北", "台中", "台中"])