In [16]:
import numpy as np
import pandas as pd


df = pd.DataFrame({"key1":["a", "a", "b", "b", "a"],
                   "key2":["one", "two", "one", "two", "one"],
                   "data1":np.random.randn(5),
                   "data2":np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one  0.323678  0.035011
1    a  two -0.281608 -1.395308
2    b  one  0.638691  0.011479
3    b  two  0.037476  0.345098
4    a  one  1.152518 -0.239975

In [17]:
# Series 的 Groupby
grouped = df["data1"].groupby(["台北", "台北", "台北", "台中", "台中"])
grouped

In [18]:
grouped.mean()

台中    0.594997
台北    0.226921
Name: data1, dtype: float64

In [19]:
df["data1"].groupby(df["key2"]).mean()

key2
one    0.704963
two   -0.122066
Name: data1, dtype: float64

In [20]:
s1 = df['data1'].groupby([df['key1'],df['key2']]).mean()
s1

key1  key2
a     one     0.738098
      two    -0.281608
b     one     0.638691
      two     0.037476
Name: data1, dtype: float64

In [21]:
s1.unstack(level='key1')

key1         a         b
key2
one   0.738098  0.638691
two  -0.281608  0.037476

In [24]:
df.groupby("key1")["data1"].mean()

key1
a    0.398196
b    0.338084
Name: data1, dtype: float64

In [26]:
df.groupby("key1")[["data1", "data2"]].mean()

         data1     data2
key1
a     0.398196 -0.533424
b     0.338084  0.178289

In [27]:
df.groupby(["key1", "key2"])[["data1", "data2"]].mean()

              data1     data2
key1 key2
a    one   0.738098 -0.102482
     two  -0.281608 -1.395308
b    one   0.638691  0.011479
     two   0.037476  0.345098